/* General Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
/* Header */
header{
    background-color: darkblue;
    color: white;
    padding: 15px 20px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo h1{
    font-size: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li{
    margin: 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #b22222;
}
/* Search Bar */
.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-bar input{
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.search-bar button{
    background-color: #b22222;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}.search-bar button:hover{
    background-color: #8b0000;
}

/* Breaking News Section */
.breaking-news{
    background-color: #f44336;
    color: white;
    padding: 10px;
    text-align: center;
}
.breaking-news h2{
    margin-bottom: 5px;
}
/* main layout */
.container{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
/* Left Sidebar */
.left-sidebar{
    width: 250px;
    padding: 10px;
    background-color: #d0e1f9;
    border-radius: 5px;
}
.left-sidebar ul{
    list-style: none;
    padding: 0;
}
.left-sidebar ul li{
    margin: 10px 0px;
}
.left-sidebar ul li a{
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}
.left-sidebar ul li a:hover{
    color: #ff4500;
}
/*Main Content */
.news-main{
    width: 60%;
    padding: 10px;
}
/* Featured News */
.featured-news {
    text-align: center;
    margin-bottom: 20px;
}
.featured-news img{
    width: 100%;
    height: auto;
}
/* News Grid */
.news-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.news-category{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.news-category h3{
    text-align: center;
}
.news-item{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.news-item img{
    width: 00px;
    height: 00px;
    margin-right: 10px;
    border-radius: 5px;
}
.news-item a{
    text-decoration: none;
}
